@import '../../styles/abstract/all';


.benefit-desktop :global {
    .benefits-desktop-cover-img {
        height: 423px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .benefit-general-info {
        width: 360px;
        //max-height: 420px;
        height: auto;
        padding: 25px;
        background: $color-white;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        text-align: right;
        position: sticky;
        top: 5px;
        margin-bottom: 30px;

        .benefit-name-font-size {
            font-size: 20px;
            font-weight: bold;
            color: $color-dark-grey-blue;
            margin: 0;
            border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
        }

        .text-title + div, .text-title + span {
            font-size: 19px;
            color: $color-dark-grey-blue;
            font-weight: bold;

        }

        .store-logo {
            width: 70px;
            height: 62px;
        }

        .div-border-bottom {
            border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
            padding: 25px 0;
            line-height: 1;
        }

        .action-button-desktop {
            border-radius: 6px;
            width: 100%;
            padding: 9px 0;
            font-size: 20px;
            font-weight: normal;
        }

        .purchase-benefit-process {
            .quantity {
                border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
                span {
                    font-size: 20px;
                }

                img {
                    width: 31px;
                    height: 31px;
                }
            }

            .credit-card-swiper {
                border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);

                .cards-list {
                    h2 {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .card-provider-details {
                        font-size: 15px;
                        font-weight: normal;
                    }

                    .credit-card {
                        .credit-card-image {
                            width: 200px;
                            height: 125px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            color: $color-white;
                            border-radius: 9px;
                            .no-card-opacity {
                                background-color: $color-black;
                                height: 125px;
                                width: 200px;
                                opacity: 0.66;
                                border-radius: 9px;
                            }
                            div {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }

            .cost {
                font-size: 16px;
                font-weight: 300;
                color: $color-dark-grey-blue;
            }

            .total {
                font-size: 20px;
                font-weight: 600;
                color: $color-dark-grey-blue;
            }
        }
    }

    .benefit-description {
        background: $color-white;
        //width: 555px;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        padding: 16px 40px;

        .size-and-weight {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .p-size-color {
        font-size: 25px;
        font-weight: 600;
        color: $color-dark-grey-blue;
        margin-bottom: 18px;
    }

    .benefit-review-wrapper {
        background: $color-white;
        //width: 555px;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        padding: 25px 40px;
        color: $color-dark-grey-blue;

        .review-content {
            border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
            padding: 28px 0;
            p {
                margin: 0;
            }
            p:nth-child(3) {
                font-size: 15px;
            }
            p:nth-child(4) {
                font-size: 12px;
            }
        }

        .margin-bottom {
            margin-bottom: 7px;
        }

        .benefit-review-label {
            font-size: 20px;
            font-weight: 600;
            text-align: right;
            margin: 0;
        }

        span {
            color: $color-greyish;
            font-size: 12px;
        }

        .ratingStar {
            width: 22px;
            height: 21px;
        }

        .individual-benefit-rating {
            width: 10px;
            height: 11px;
        }
    }

    .redemption-address-wrapper {
        background: $color-white;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        padding: 44px 41px 44px 26px;
        color: $color-dark-grey-blue;

        .redemption-address-content {
            border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
            padding: 44px 0;

            &:first-of-type {
                padding-top: 0;
                padding-bottom: 44px;
            }

            &:last-of-type {
                padding-bottom: 0;
                padding-top: 44px;
                border: none;
            }

            img {
                width: 12px;
                height: 12px;
            }

            div:nth-child(2) {
                font-size: 20px;
                font-weight: 600;
            }

            div:nth-child(3) {
                font-size: 15px;
                font-weight: 600;
            }

            div:nth-child(4) {
                font-size: 15px;
                font-weight: 300;
            }

            .google-nav {
                font-size: 20px;
                color: $color-light-navy;
            }
        }
    }

    .business-details-wrapper {
        background: $color-white;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        padding: 32px 41px;
        color: $color-dark-grey-blue;

        h1 {
            font-size: 20px;
            font-weight: 600;
        }

        .size-and-weight {
            font-size: 15px;
            color: $color-dark-grey-blue;

            p {
                margin: 0;
            }

        }

        .contact {
            line-height: 0;
        }

        .arrow-left {
            width: 12px;
            height: 14px;
        }
    }

    .terms-and-conditions-wrapper {
        background: $color-white;
        box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.5);
        padding: 40px;
        color: $color-dark-grey-blue;

        p {
            font-size: 15px;
            font-weight: 300;
        }
    }

    .suggested-benefits-wrapper {
        .item {
            width: 274px;
            height: 330px;
        }

        .benefit-box-details {
            flex-direction: column;
        }

        .benefit-box {
            .benefit-box-logo {
                width: 58px;
                height: 58px;
            }
            .benefit-cover-img {
                //height: calc(100% - 121px);
            }
            .benefit-box-caption {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

}

.benefit-mobile :global {
    background-color: $color-white;

    .benefit-top-img {
        height: 286px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .benefit-logo {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 131px;
        height: 57px;
        border-radius: 10px 10px 1px 1px;
        background-color: #ffffff;
    }

    .benefit-logo-img {
        max-height: 100%;
        margin: 0 auto;
    }

    .collapse-heading {
        font-size: 20px;
    }
    .benefit-name {
        height: 100%;
        border-bottom: solid 1px #dadada;
        h1 {
            font-size: 21px;
        }
    }

    .benefit-details {
        text-align: center;
        border-bottom: solid 1px #dadada;
        //height: 55px;
        font-size: 19px;
        font-weight: 700;
        //padding: 30px 0;
        h1 {
            font-size: 17px;
        }

        .expired {
            font-size: 17px;
            font-weight: 400;
        }
    }
    .benefit-description {
        p {
            font-size: 15px;

        }
    }
    .panel-group {
        margin-right: -15px;
        margin-left: -15px;
    }

    .location-icon {
        width: 13px;
        height: 18px;
        position: relative;
        bottom: 5px;
    }

    .panel-group a {
        font-size: 20px;
    }

    .collapse-wrapper {

        margin-left: -15px;
        margin-right: -15px;

        .collapse-header {
            box-shadow: 0 0 10px 0 rgba(130, 130, 130, 0.21);
            background: #fff;
        }

        .section-collapse-body {
            background: #fff;
            box-shadow: 0 0 10px 0 rgba(130, 130, 130, 0.21);
        }

        .section-collapse-body:first-child {
            border: 1px dashed blue;
            background: #fff;
        }
    }

    .order-benefit {
        background: #fff;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        width: 100%;

        .favorite-icon {
            width: 36px;
            height: 30px;
            object-fit: contain;
            right: 24px;
            //padding-right: 10px;
        }
    }

    .favorite-icon-wrapper {
        border-left: solid 1px #cccccc;
    }

    .phone-icon {
        //padding-right: 8px;
        width: 31px;
        height: 31px;
        object-fit: contain;
    }
    .arrow {
        width: 19px;
        height: 10px;
    }

    .arrow-left {
        height: 11px;
        margin-right: 7px;
    }
    // Rename to "nav-text" and no need for height and width
    .google-nav {
        width: 28px;
        height: 25px;
        font-size: 19px;
    }

    .order-benefit-btn {
        color: #fff;
        background-image: linear-gradient(to left, #19398a, #3076a7);
        font-size: 20px;
        height: 57px;
        border: none;
        line-height: 57px;

        &:hover {
            background-image: linear-gradient(to left, lighten(#19398a, 10), lighten(#3076a7, 10));
        }
    }

    .ratingStar {
        width: 16px;
        padding: 1px;
    }

    .rating-elem {
        margin-bottom: -23px;
    }

    .review-customer-name {
        color: #9f9f9f;
    }

    .redemption-wrapper {
        //padding-top: 0;
        //
        &:first-of-type {
            padding-top: 10px;
        }
    }

    .benefit-cover-img {
        width: 100%;
        height: 135px;
    }
    .customer-reviews {
        h1 {
            font-size: 15px;
            color: $color-gray;
        }
    }
    .title {
        h1 {
            font-size: 20px;
        }
    }

    .benefit-controls-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .purchased-buttons-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        background: $color-hint-of-red;

        .action-button {
            padding: 5px 30px;
        }
    }
    .logo-isracard {
        width: 27px;
        height: 18px;
        object-fit: contain;
    }
    .personal {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
    .home {
        width: 19px;
        height: 18px;
        object-fit: contain;
    }
    .container {
        height: 100%;
    }
}

