// use http://chir.ag/projects/name-that-color/ or stick to Zeplin color names

$color-black: #000000;
$color-white: #ffffff;
$color-hint-of-red: #f9f7f7;
$color-cobalt: #19398a;
$color-flat-blue: #3076a7;
$color-dark-grey-blue: #34495e;
$color-pale-grey: #ebedf6;
$color-pale-grey-two: #f7f5f6;
$color-brownish-grey: #666666;
$color-warm-grey: #979797;
$color-black-42: rgba(0, 0, 0, 0.42);
$color-light-navy: #15327e;
$color-havelock-blue: #5583d8;
$color-indigo: #4A76C6;
$color-san-marino: #3F68B2;
$color-azure: #365CA1;
$color-st-tropaz: #2C4E8D;
$color-biscay: #1F3C72;
$color-pickled-bluewood: #34495E;
$color-dusty-gray: #979797;
$color-thunderbird: #b22919;
$color-alto: #d1d1d1;
$color-gallery: #ECEBEB;
$color-bon-jour: #e7e4e6;
$color-cerise-red: #dd2d70;
$color-denim: #1877d1;
$color-fuchsia-blue: #7853c4;
$color-gray: #8f8f8f;
$color-cobalt-two: #1d448f;
$color-light-navy-two: #14307c;
$color-greyish: #a3a3a3;
$color-light-ultra-gray: #b9b9b9;
$color-light-ultra-gray-two: #3a3a3a;

