
.tos :global{
    .white-box{
        background-color: white;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.17);
        margin-top: 50px;
        margin-bottom: 50px;
        height: 481px;
        h1 {
            font-size: 20px;
            font-weight: 600;
            color: #adadad;
        }
    }
}
