.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ignores-grid-margins {
    margin-left: -15px;
    margin-right: -15px;
}

.overflow-scroll-x {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
